<div class="app-container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content">
        <div>
          <button class="no-outline" mat-stroked-button (click)="goBack()">
            Back</button
          >&nbsp;&nbsp;
        </div>
        <div>
          <button class="no-outline" mat-stroked-button (click)="onAddReport()">
            Add Report</button
          >&nbsp;&nbsp;
        </div>
      </div>
      <div class="report-container">
        <app-custom-report-table> </app-custom-report-table>
      </div>
    </div>
  </div>
</div>
