<div *ngIf="(isLoading$ | async) || (isRefreshing$ | async)">
  <app-loader></app-loader>
</div>
<div *ngIf="!(isLoading$ | async)">
  <table class="report-table table-bordered table-responsive">
    <thead>
      <tr>
        <td>S/N</td>
        <td colspan="3">Custom Report Name</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of reports$ | async; let reportCount = index">
        <td>
          {{ reportCount + 1 }}
        </td>
        <td colspan="3">
          {{ report.name }}
        </td>
        <td>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="custom-menu-panel" yPosition="below">
            <button mat-menu-item (click)="onEdit(report)">
              <mat-icon>edit</mat-icon> <span>Edit</span>
            </button>
            <button mat-menu-item (click)="onConfirmDeleteAction(report)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive"></div>
