<div class="table-responsive">
  <table class="report-table table-bordered">
    <thead>
      <tr>
        <td class="p-1">s/n</td>
        <td class="p-1" colspan="2">custom reports</td>
        <td class="p-1">action</td>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngIf="isLoading$  | async; else elseTemplate">
        <app-loader></app-loader>
      </ng-container>
      <ng-template #elseTemplate>
        <tr *ngFor="let report of reports$ |async;let reportCount = index">
          <td class="p-1">
            {{ reportCount+1}}
          </td>
          <td class="p-1" colspan="2"><span style="padding-left: 0px">{{ report.name }}</span></td>
          <td class="p-1">
          <button mat-button [matMenuTriggerFor] = "menu"> <mat-icon >more_vert</mat-icon></button>    
<mat-menu #menu = "matMenu" yPosition="below">
   <button mat-menu-item (click)="onEdit(report)"> <mat-icon>edit</mat-icon>
    <span>Edit</span></button>
   <button mat-menu-item (click)="onDelete(report)">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>

   </button>
</mat-menu>
          </td>

        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
