tbody{
    display: block;
    min-height: 13vh;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

thead,tbody tr {
    display: table;
    width: 100%;
    table-layout:auto;
}

th,td{
    width: 9vw !important;
    word-wrap: break-word;
    padding: 20px 90px;
}


th{
    text-align: center;
}
table{
    width: 100%;
}
.table-responsive{
    align-self: center;
    /* padding-left: 8%; */
}