.home-report{
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.button-nav-report{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button-validator{
    margin-left: 59%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     padding-left: 25%;
     padding-right: 20%;
    width: 100%;
}

.input-space{
    /* max-height: 350px;
    width: 100%; */
    background-color: transparent;
    margin-left: 25%;
    margin-top: 4%;
    margin-bottom: 3%;
}
h5{
    font-size: 18px;
}

.report-validate{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2%;
    background-color: transparent;
  }
  .error-validate{
      color: red;
      width: 50%;
      padding-left: 90px;
      
  }
  .configuration-form{
      padding-right: 70%;
  }
  .nametitile{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
.nametitile>h5{
    margin-right: 30px;
    padding-top: 2%;
}
  #textAreaObject{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
  }
  
  
  #textAreaObject:focus {
      background: none repeat scroll 0 0 #FFFFFF;
      outline-width: 0;
      color: #555555;
  }
