<div class="container app-container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="d-flex justify-content-start">
          <button mat-stroked-button (click)="openOrganisationUnitFilter()">
            Organisation Unit</button
          >&nbsp;&nbsp;
          <button mat-stroked-button (click)="openPeriodFilter()">Period</button
          >&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field>
            <mat-select
              placeholder="Choose report"
              (selectionChange)="onSelectReport($event)"
            >
              <mat-option
                value="{{ report.id }}"
                *ngFor="let report of reports"
                >{{ report.name }}</mat-option
              >
            </mat-select> </mat-form-field
          >&nbsp;&nbsp;
        </div>
        <div class="d-flex justify-content-end">
          <button
            mat-stroked-button
            (click)="onGenerateReport()"
            [disabled]="!getReportParameterSelectionStatus()"
          >
            Generate</button
          >&nbsp;&nbsp;
          <button mat-stroked-button (click)="onDownloadReport()">
            Download</button
          >&nbsp;&nbsp;
        </div>
      </div>
      <div class="report-container">
        <div *ngIf="isLoading$ | async">
          <app-loader></app-loader>
        </div>
        <div *ngIf="!(isLoading$ | async)">
          <div *ngIf="analyticsError$ | async">
            <div class="analyticsError">
              <mat-card>{{ analyticsError$ | async | json }}</mat-card>
            </div>
          </div>
          <div *ngIf="!(analyticsError$ | async) && analytics$ | async">
            <mat-card>
              <app-report-view></app-report-view>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
