<div class="container">
  <div class="row">
    <div class="col-12">
      <button mat-stroked-button (click)="openOrganisationUnitFilter()">
        Organisation Unit</button
      >&nbsp;&nbsp;
      <button mat-stroked-button (click)="openPeriodFilter()">
        Period
      </button>
      <div class="dashboard-chart">
        <div *ngIf="isLoading$ | async">
          <app-loader></app-loader>
        </div>
        <div *ngIf="!(isLoading$ | async)">
          <div *ngIf="analyticsError$ | async">
            <div class="analyticsError">
              <mat-card>{{ analyticsError$ | async | json }}</mat-card>
            </div>
          </div>
          <div *ngIf="!(analyticsError$ | async) && analytics$ | async">
            <mat-card>
              <app-dashboard-chart
                [analytics]="analytics$ | async"
              ></app-dashboard-chart>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
