.container {
  margin: 0 1vw !important;
  width: 100vw !important;
  padding: 0 !important;
}

.dashboard-chart {
  margin-top: 20px;
}

.analyticsError {
  text-align: center;
}

button {
  height: 6vh;
}
